<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Node.js Outlook integration</h1>
    <p class="lead">Sample App uses microsoft graph API for reading and sending outlook emails by connecting to microsoft account</p>
    {{#if user}}
      <h4>Welcome {{ user.displayName }}!</h4>
      <p class="col-md-8 fs-6">Use the navigation bar at the top of the page to get started.</p>
    {{else}}
      <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a><br><br>
    {{/if}}
    Note: <span>
      This Appication uses Handlebars templating Engine, Node JS backend and Microsoft Graph API.
      <br>
      The response from Graph API is in JSON format on the browser screen. 
      </span>
  </div>
</div>

